*{
  margin: 0;
  font-family: Helvetica, sans-serif;
  border: border-box;
}
.nav{
  height: 580px;
  width: 1000;
}
.mainbox{
  background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
  background-size: cover;
  height: 550px;
  width: 100%;
}
.top p{
  display: inline;
  margin-left: 2.5rem;
}
.top{
  margin-left: 60rem;
  color: #ffffff;
  font-size: 16.87px;
  font-weight: lighter;
  padding-top: 9px;
}
.zomato-logo{
  height: 60px;
  width: 1519.20px;
}
.logo{
  background-image: url("https://b.zmtcdn.com/web_assets/8313a97515fcb0447d2d77c276532a511583262271.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 500px;
  margin-left: 40rem;
  margin-top: 20rem;
}
.title{
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  color: #ffffff;
  font-size: 33.75px;
}
.content{
  width: 100%;
  height: 200px;
}
.title{
  width: 100%;
  height: 5px;
}
.content1{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1c1c1c;
  font-size: 2.2rem;
  margin-top: 2rem;
}
.flag{
  width: 40px;
  height: 30px;
  padding: 8px;
  border-radius: 1rem;
}
.content2 p{
  font-size: 1.3rem;
  color: #696969;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  line-height: 2rem;
}

.states{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.restaurants{
  width: 100%;
  height: 100px;
  color: #1c1c1c;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.restaurant1{
  width: 300px;
  height: 60px;
  font-size: 1.3rem;
  border-radius: 0.8rem;
  padding:0px 10px 0px 10px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(232, 232, 232);
  box-shadow: rgba(28, 28, 28, 0.08) 0px 1.42623px 2;
  padding: 10px 0px 15px;
  margin-top: 15px;
  margin: 30px;
}

.countrytitle{
  width: auto;
  height: 150px;
  margin: 20px 0px 10px 250px;
  font-size: 2.6rem;
  line-height: 1.2;
  font-weight: 50;
  color: rgb(28, 28, 28);
}

.countrylist{
  width: 350px;
  height: 60px;
  font-size: 1.3rem;
  border-radius: 0.8rem;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(232, 232, 232);
  box-shadow: rgba(28, 28, 28, 0.08) 0px 1.42623px 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin-right: 20px;
  margin-left: 30px;
}
.diffflags{
  padding-left: 30px;
  background-size: cover;

.object{
  background-size: cover;
}  
}
.countries{
  padding-left: 10px;
}

.countryname{
  padding: 0px 150px 300px 0px;
}

.finalsection{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.chevron{
  padding-right: 30px;
  color: #696969;;
}
.foottitle1{
  background-color:#f8f8f8;
  color: black;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color:rgb(194, 202, 189);
}
.zomatosymbol{
  height: 60%;
  width: 60%;
  background-image: url("zomato images/logo.avif");
  background-size: contain;
  background-repeat: no-repeat;
  background-color:rgb(194, 202, 189);
  color: black;
  margin: 5px 0px 5px 700px;
}

.foottitle2{
  background-color: #f8f8f8;
  color: black;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
}
ul a{
  display: block;
  margin-top: 10px;
  color: rgb(118, 114, 114);
  font-size: 0.9rem;
}
footer{
  margin-top: 50px;
}

ul{
  margin: 20px;
}

ul p{
  font-weight: bolder;
}

.class{
  height: 50px;
}
.bw{
  font-weight: bolder;
  color: black;
}

.last{
  display: flex;
  justify-content: center;
  border-top: 1px solid rgb(156, 153, 153);
  padding-bottom: 30px;
  padding-top: 20px;
  color: rgb(64, 61, 61);
  font-size: 0.9rem;

}







